<ion-view view-title="登录">
    <!--view-title="登录"-->
    <ion-header-bar align-title="center" class="bar-positive">

        <div class="buttons ">

            <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="go('balanceParams');">
                参数设置
            </button>

        </div>

        <h1 class="title">权益图</h1>

    </ion-header-bar>
    <ion-content scroll="false">
        <!--<div class="list card" style="text-align: center">
            <h2 style="white-space: normal;">资金账号登录</h2>
        </div>-->

        <img ng-src="{{image.src}}" style="width:100%;" >
        <div class="row" style="text-align: center;background: #2F0000;color: white">
            <div class="col">日期</div>
            <div class="col">开盘(万)</div>
            <div class="col">最高(万)</div>
            <div class="col">最低(万)</div>
            <div class="col">收盘(万)</div>
        </div>
        <ion-scroll zooming="false" direction="y" style="width: 100%; height: 40%;padding: 0px">
                <div ng-repeat="data in chartData" class="row" style="text-align: center;background: #9D9D9D;">
                    <div class="col" style="padding: 2px">
                        <div style="background: white;padding: 0.5rem 0">
                            {{data.tradedate}}
                        </div>
                    </div>
                    <div class="col" style="padding: 2px">
                        <div style="background: white;padding: 0.5rem 0">
                            {{round(data.open_balance)}}
                        </div>
                    </div>
                    <div class="col" style="padding: 2px">
                        <div style="background: white;padding: 0.5rem 0">
                            {{round(data.high_balance)}}
                        </div>
                    </div>
                    <div class="col" style="padding: 2px">
                        <div style="background: white;padding: 0.5rem 0">
                            {{round(data.low_balance)}}
                        </div>
                    </div>
                    <div class="col" style="padding: 2px">
                        <div style="background: white;padding: 0.5rem 0">
                            {{round(data.close_balance)}}
                        </div>
                    </div>
                </div>
        </ion-scroll>
    </ion-content>
</ion-view>