<ion-view view-title="查看权益参数设置" can-swipe-back="false">
    <!--view-title="登录"-->
    <ion-header-bar align-title="center" class="bar-positive">

        <div class="buttons ">

            <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="go('tab.fw');">
                主页
            </button>

        </div>

        <h1 class="title">查看权益参数设置</h1>

    </ion-header-bar>
    <ion-content>
        <!--<div class="list card" style="text-align: center">
            <h2 style="white-space: normal;">资金账号登录</h2>
        </div>-->
        <div class="list">
            <label class="item item-input">
                <span class="input-label">天数（天）：</span>
                <input type="text" ng-model="params.days">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="confirm()">
                确定
            </button>
            <p class="text-center">
                <a href="#/accountloginin/1">切换资金账号</a>
            </p>
        </div>
    </ion-content>
</ion-view>
