<ion-view view-title="忘记密码">
    <ion-header-bar align-title="left" class="bar-positive">
        
        <div class="buttons ">
            
            <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="go('signin');">
                登录
            </button>
            
        </div>
        
        <h1 class="title">忘记密码</h1>
        
    </ion-header-bar>
    <ion-content padding="true">
        <form name="form" class="css-form" novalidate ng-submit="signUp(user)">
            <div class="list">
                <div class="form-item">
                    <label class="item item-input">
                        <span class="input-label">手机号码</span>
                        <input type="number" name="phone" ng-model="user.phoneNum" placeholder="请输入手机号码" required minlength="11" maxlength="11" style="margin-left:-20px;">
                            </label>
                    <div class="error-container" ng-show="form.phone.$dirty && form.phone.$invalid">
                        <span ng-show="form.phone.$error.required">请输入手机号！</span>
                        <span ng-show="form.phone.$error.minlength || form.phone.$error.maxlength" class="error">手机号码不对！</span>
                    </div>
                </div>
                
                <label class="item item-input">
                    <span class="input-label">新&nbsp;密&nbsp;码</span>
                    <input type="password" name="userpassword" ng-model="user.newPassword" placeholder="请设置您的新密码" required minlength="6" maxlength="40" style="margin-left:-20px;">
                        </label>
                <div class="error-container"  ng-show="form.userpassword.$dirty && form.userpassword.$invalid">
                    <span ng-show="form.userpassword.$error.required">设置新密码！</span>
                    <span ng-show="form.userpassword.$error.minlength">密码不能少于6位！</span>
                    <span ng-show="form.userpassword.$error.maxlength">密码不能多于40位！</span>
                </div>
                <div class="item item-input">
                    <span class="input-label">验&nbsp;证&nbsp;码</span>
                    <input type="text" name="verifyCode" ng-model="user.captcha" placeholder="请输入验证码" required minlength="6" maxlength="6" style="margin-left:-20px;">
                        <button style="width:100px; margin-left:-100px;" type="button" name="getVerifyCode" ng-click="getVerifyCode(user.phoneNum)" ng-disabled="disable">{{verifyCodeText}}</button>
                        </div>
                <div class="error-container"  ng-show="form.verifyCode.$dirty && form.verifyCode.$invalid">
                    <span ng-show="form.verifyCode.$error.required">请输入验证码！</span>
                    <span ng-show="form.verifyCode.$error.minlength">验证码为6位！</span>
                    <span ng-show="form.verifyCode.$error.maxlength">验证码为6位！</span>
                </div>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive" ng-disabled="form.$invalid">提交</button>
            </div>
        </form>
        
    </ion-content>
</ion-view>