<ion-view view-title="资讯">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="fw in fws" type="item-text-wrap" href="#/tab/fw/{{fw.id}}">
                <img ng-src="{{fw.face}}" style="max-width: 55px;max-height: 55px;">

                <h2>{{fw.name}}</h2>
                <p style="font-size: x-small;">{{fw.lastText}}</p>
                <p style="text-align: right; font-size: xx-small;">{{fw.lastTime}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(fw)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>