<ion-view view-title="聊天">
  <ion-header-bar align-title="left" class="bar-positive">



    <h1 class="title">聊天</h1>

  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" ng-click="clearChatUserBadge();" href="#/chats/{{chat.id}}">
        <img ng-src="{{chat.headImg}}">
        <h2>{{chat.name}}<span style="text-align: right; float: right; font-size: xx-small;">{{chat.lastTime | date : 'yyyy年MM月dd日 HH:mm:ss'}}</span></h2>

        <p>{{chat.lastMessage}}</p>
        <span class="badge badge-assertive home-page-badge" ng-show="chat.badge > 0">{{chat.badge}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
