<ion-view view-title="我">
    <ion-header-bar align-title="left" class="bar-positive">


        <h1 class="title">我</h1>

    </ion-header-bar>
    <ion-content>
        <ion-list>
        <br>
        <ion-item class="item-icon-right item-stable item-avatar"  type="item-text-wrap" href="#/tab/person">
            <img ng-src="{{user.avatarUrl || 'img/headicon_new.jpg'}}" style="border-radius:5%;">
            <h2>{{user.name || '昵称'}}</h2>
            <p>用户id：{{user.phone || user.openid}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <br>
        </ion-list>

        <a class="button button-stable button-full" href="#/tab/password">
            <img ng-src="img/lock.png" style="float: left; line-height: 32px; margin-top: 7px;">
            <span style="float: left;line-height: 47px;">&nbsp;&nbsp;密码管理</span>
            <i class="icon ion-chevron-right icon-accessory" style="float: right"></i>

        </a><a class="button button-stable button-full" href="#/storeup">
            <img ng-src="img/star.png" style="float: left; line-height: 32px; margin-top: 7px;">
            <span style="float: left;line-height: 47px;">&nbsp;&nbsp;收藏</span>
            <i class="icon ion-chevron-right icon-accessory" style="float: right"></i>

        <!--</a><a class="button button-stable button-full" href="#/tab/buser">
            <img ng-src="img/user.png" style="float: left; line-height: 32px; margin-top: 7px;">
            <span style="float: left;line-height: 47px;">&nbsp;&nbsp;业务员信息</span>
            <i class="icon ion-chevron-right icon-accessory" style="float: right"></i>-->

        </a>
        <br>
        <a class="button button-stable button-full" href="#/tab/setting">
            <img ng-src="img/advanced.png" style="float: left; line-height: 32px; margin-top: 7px;">
            <span style="float: left;line-height: 47px;">&nbsp;&nbsp;设置</span>
            <i class="icon ion-chevron-right icon-accessory" style="float: right"></i>

        </a>
    </ion-content>
</ion-view>
