<ion-view view-title="重置登录密码">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons ">
            <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="go('tab.wo-password');">
                密码管理
            </button>
        </div>
        <h1 class="title">重置登录密码</h1>
    </ion-header-bar>
    <ion-content>
        <form name="passwordform" class="css-form" novalidate ng-submit="updateUserPassword(user2)">
        <div class="list">
            <label class="item item-input">
                <input type="password" name="oldPassword" ng-model="user2.oldPassword" placeholder="请输入原密码" required>
            </label>
            <div class="error-container" ng-show="passwordform.oldPassword.$dirty && form.oldPassword.$invalid">
                <span ng-show="form.oldPassword.$error.required">请输入原密码！</span>
            </div>
            <label class="item item-input">
                <input type="password" name="newPassword" ng-model="user2.newPassword" placeholder="请输入新密码" required minlength="6" maxlength="40">
            </label>
            <div class="error-container" ng-show="passwordform.newPassword.$dirty && passwordform.newPassword.$invalid">
                <span ng-show="passwordform.newPassword.$error.required">请输入新密码！</span>
                <span ng-show="passwordform.newPassword.$error.minlength">新密码不能少于6位！</span>
                <span ng-show="passwordform.newPassword.$error.maxlength">新密码不能多于40位！</span>
            </div>
            <label class="item item-input">
                <input type="password" name="reNewPassword" ng-model="user2.reNewPassword" placeholder="请再次输入新密码" required>
            </label>
            <div class="error-container" ng-show="passwordform.reNewPassword.$dirty && passwordform.reNewPassword.$invalid">
                <span ng-show="passwordform.reNewPassword.$error.required">请再次输入新密码！</span>
                <span ng-show="passwordform.reNewPassword!=passwordform.newPassword">两次输入的密码不一致！</span>
            </div>
            <button type="submit" class="button button-positive button-full" ng-disabled="passwordform.$invalid">
                提交
            </button>
        </div>
        </form>
    </ion-content>
</ion-view>