<ion-view view-title="关于">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons ">
            <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="go('tab.wo-setting');">
                设置
            </button>
        </div>
        <h1 class="title">关于</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-content">
                <div style="margin:0 auto;text-align: center;">
                <img src="img/cofco.png" width="60" height="60">
                <h2>百战赢+</h2>
                <p>版本号：2.0.6</p>
                </div>
            </div>

            <div class="item item-body">
                <P class="cusp">中粮期货有限公司成立于1996年，注册资本8.462亿元，是世界500强企业中粮集团子公司。中粮集团早在上世纪70年代完成了新中国第一笔国际期货交易，是国内最早参与期货业务的公司。</P>
            </div>

        </div>
    </ion-content>
</ion-view>
