<ion-view view-title="意见反馈">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons ">
            <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="go('tab.wo-setting');">
                设置
            </button>
        </div>
        <h1 class="title">意见反馈</h1>
        <div class="buttons">
            <button class="button button-light button-outline" ng-click="saveOpinion(opinion);">
                提交
            </button>
        </div>

    </ion-header-bar>
    <ion-content class="padding">
        <label class="item item-input">
            <textarea ng-model="opinion.content" rows="10" placeholder="说点什么..."></textarea>
        </label>
        <label class="item item-input">
            <input type="text" placeholder="手机/邮箱" ng-model="opinion.contact">

        </label>
    </ion-content>
</ion-view>