<ion-view view-title="设置">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons ">
            <button class="button button-clear icon-left ion-ios-arrow-back" ng-click="go('tab.wo');">
                我
            </button>
        </div>
        <h1 class="title">设置</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-icon-right" href="#/tab/about">
                关于
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/opinion">
                意见反馈
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <button class="button button-full button-positive button-assertive" ng-click="logout()">退出登录</button>


        </div>
    </ion-content>
</ion-view>